<!DOCTYPE html>
<html>
<head>
    <title>Calorie Predictor</title>
</head>
<body>
            <h2>Calories Burnt Prediction</h2>
            <form action="/predict" method="POST">
                Gender (0=Male, 1=Female): <input type="number" name="gender" required><br><br>
                Age: <input type="number" name="age" required><br><br>
                Height (cm): <input type="number" name="height" required><br><br>
                Weight (kg): <input type="number" name="weight" required><br><br>
                Duration (min): <input type="number" name="duration" required><br><br>
                Heart Rate: <input type="number" name="heart_rate" required><br><br>
                Body Temp (°C): <input type="number" step="0.1" name="body_temp" required><br><br>
                <input type="submit" value="Predict">
            </form>

    {% if prediction %}
        <h3>{{ prediction }}</h3>
    {% endif %}
</body>
</html>
